.alternative-font {
	font-family: 'Great Vibes', cursive !important;
	font-size: inherit;
}

.custom-font-size-1 {
	font-size: 4em;
}

@media (max-width: 767px) {
	.custom-font-size-1 {
		font-size: 3em;
	}
}
.custom-font-size-2 {
	font-size: 7em;
	line-height: 100px;
}

@media (max-width: 767px) {
	.custom-font-size-2 {
		font-size: 4em;
	}
}
.custom-text-color-1 {
	color: #6a696f !important;
}

.custom-text-color-2 {
	color: #3e415c !important;
}

.custom-default-text-color {
	color: #777 !important;
}

.box-shadow-custom {
	box-shadow: 10px 10px 74px -30px rgba(0, 0, 0, 0.33);
}

.custom-border-radius {
	border-radius: 30px !important;
}

.custom-overlay-1:before {
	background: url(../../img/demos/wedding/custom-overlay-1.png) repeat scroll 0 0 transparent !important;
	z-index: -4;
}

.thumb-info {
	border: 0;
}

.header-logo {
	visibility: hidden;
}
.header-logo.loaded {
	visibility: visible;
}

.header-logo-text {
	display: inline-block;
	font-family: "Great Vibes",cursive !important;
	font-size: 36px;
	line-height: 36px;
	padding: 6px 0 15px;
}

#header .header-body {
	border-top: 0;
}
#header .header-nav-main {
	position: relative;
	float: none;
}
#header .header-nav-main:before {
	content: '';
	display: block;
	position: absolute;
	width: 100vw;
	top: 0;
	left: 50%;
	border-top: 1px solid #e1e4e9;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media (min-width: 992px) {
	#header .header-nav-main nav {
		display: block;
	}
	#header .header-nav-main nav > ul > li > a {
		background: none !important;
		color: #666 !important;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		-webkit-transition: ease all 300ms;
		-moz-transition: ease all 300ms;
		transition: ease all 300ms;
	}
	#header .header-nav-main nav > ul > li > a:hover {
		color: #ef3447 !important;
	}
	#header .header-nav-main nav > ul > li.dropdown-full-color.active > a {
		color: #ef3447 !important;
	}
	#header .header-nav-main nav > ul > li.dropdown-full-color.active:before {
		content: '\f004';
		display: block;
		font-family: 'FontAwesome';
		position: absolute;
		top: -13px;
		left: 50%;
		color: #ef3447;
		line-height: 0;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}
.rev_slider .slotholder:after {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.25);
}

.slider-container.light {
	background: #FBF9F3;
}
.slider-container.light ul {
	perspective: 1000px;
}
.slider-container.light .slider-border {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 16px;
	background: url(../../img/demos/wedding/slider-border-bg.png);
	background-repeat: repeat-x;
	z-index: 30;
}

@media (max-width: 991px) {
	.slider-container .slider-border {
		bottom: -1px;
	}
}
.testimonial.testimonial-with-quotes.custom-wedding-quotes blockquote:before {
	content: '';
	background: url(../../img/demos/wedding/testimonial/custom-red-quotes.png);
	background-size: 100% 100%;
	width: 36px;
	height: 22px;
}
.testimonial.testimonial-with-quotes.custom-wedding-quotes blockquote:after {
	content: '';
	background: url(../../img/demos/wedding/testimonial/custom-red-quotes.png);
	background-size: 100% 100%;
	width: 36px;
	height: 22px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.load-more-loader {
	display: none;
	height: 113px;
}

.thumb-bride-groom:hover .bride-groom-photo img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.thumb-bride-groom .bride-groom-bg {
	position: relative;
	display: inline-block;
}
.thumb-bride-groom .bride-groom-bg:before {
	content: '';
	display: block;
	background: url(../../img/demos/wedding/bride-groom/bride-bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 58%;
	left: 50%;
	width: 125%;
	height: 100%;
	z-index: -1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.thumb-bride-groom .bride-groom-bg.groom-background-style:before {
	background: url(../../img/demos/wedding/bride-groom/groom-bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	top: 50%;
}
.thumb-bride-groom .bride-groom-photo {
	position: relative;
	display: inline-block;
	width: 80%;
	border: 10px solid #FFF;
	border-radius: 100%;
	margin: 50px 0;
	overflow: hidden;
	z-index: 1;
}
.thumb-bride-groom .bride-groom-photo img {
	width: 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.thumb-bride-groom .social-icons li {
	box-shadow: none;
	border: 2px solid #b7b8bc;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.thumb-bride-groom .social-icons li a {
	color: #b7b8bc !important;
}
.thumb-bride-groom .social-icons li:hover {
	border: 2px solid #ef3447;
}
.thumb-bride-groom .social-icons li:hover a {
	background: none;
	color: #ef3447 !important;
}

.wedding-countdown #clock span {
	position: relative;
	padding: 0 30px;
	font-size: 4em;
	font-weight: 100;
}
.wedding-countdown #clock span:before {
	content: '\f004';
	display: block;
	font-family: 'FontAwesome';
	position: absolute;
	top: 60%;
	left: -5px;
	font-size: 0.2em;
	color: #5fc3d2;
	line-height: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.wedding-countdown #clock span:nth-child(1):before {
	content: none;
}
.wedding-countdown #clock span > span {
	position: absolute;
	bottom: -15px;
	left: 50%;
	font-size: 0.3em;
	text-align: center;
	text-transform: uppercase;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.wedding-countdown #clock span > span:before, .wedding-countdown #clock span > span:after {
	content: none;
}

@media (max-width: 767px) {
	.wedding-countdown #clock span {
		padding: 0 15px;
		font-size: 2.5em;
	}
}
.testimonials .testimonial blockquote:before, .testimonials .testimonial blockquote:after {
	-webkit-filter: brightness(7);
	filter: brightness(7);
}
.testimonials .testimonial blockquote p {
	font-style: normal;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.6;
}

.the-wedding.section {
	background: #fbf9f3;
	border: none;
	z-index: 0;
}

.wedding-schedule {
	position: relative;
	height: 500px;
	max-height: 500px;
	max-width: 430px;
	padding: 10px;
	margin: 0 auto;
}
.wedding-schedule:before {
	content: '';
	display: block;
	background: url(../../img/demos/wedding/the-wedding/the-wedding-bg-colors.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 146%;
	height: 125%;
	top: 50%;
	left: 50%;
	z-index: -3;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.wedding-schedule .wedding-schedule-photo {
	height: 185px;
	overflow: hidden;
	text-align: center;
}
.wedding-schedule .wedding-schedule-photo img {
	position: relative;
	width: auto;
	border-radius: 6% 6% 0 0;
	z-index: -2;
	height: 190px;
}
.wedding-schedule .wedding-schedule-background {
	position: absolute;
	background: url(../../img/demos/wedding/the-wedding/the-wedding-bg-1.png);
	background-size: 100% 100%;
	width: 98%;
	height: 99%;
	top: 50%;
	left: 50%;
	z-index: -1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.wedding-schedule .icon-heart-white-border {
	position: absolute;
	top: 34.7%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.wedding-schedule span {
	display: block;
}
.wedding-schedule .btn {
	border-radius: 20px;
}

#historyLoadMoreWrapper li {
	list-style: none;
}

.history-item .thumb-info .thumb-info-wrapper:after {
	background: -webkit-linear-gradient( bottom , rgba(36, 44, 71, 0.6) 0, transparent 100%) repeat scroll 0 0 rgba(36, 44, 71, 0);
	background: linear-gradient(to top, rgba(36, 44, 71, 0.6) 0, transparent 100%) repeat scroll 0 0 rgba(36, 44, 71, 0);
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 1;
	opacity: 1;
	top: auto;
}
.history-item .thumb-info .thumb-info-wrapper:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 190px 40px black;
	z-index: 1;
}
.history-item .thumb-info .thumb-info-title {
	background: none;
	padding: 9px 22px 9px;
	bottom: 6%;
	font-size: 15px;
	z-index: 2;
}
.history-item .thumb-info .thumb-info-likes {
	position: absolute;
	bottom: 6%;
	right: 0;
	padding: 9px 22px 9px;
	z-index: 2;
}
.history-item .thumb-info .thumb-info-likes i {
	border-radius: 100%;
}

#guestbookSendMessage {
	position: relative;
}
#guestbookSendMessage:before, #guestbookSendMessage:after {
	content: '';
	display: block;
	position: absolute;
	background: url(../../img/demos/wedding/guestbook/guestbook-flower.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 17%;
	height: 34%;
}
#guestbookSendMessage:before {
	top: 15px;
	right: 15px;
}
#guestbookSendMessage:after {
	bottom: 15px;
	left: 15px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#guestbookSendMessage .form-content {
	position: relative;
	z-index: 1;
}
#guestbookSendMessage .form-content .form-control-custom {
	text-align: left;
}
#guestbookSendMessage .form-content .form-control-custom input, #guestbookSendMessage .form-content .form-control-custom textarea {
	background: none;
	border: none;
	border-bottom: 1px solid #b5b5b5;
	box-shadow: none;
}
#guestbookSendMessage .form-content .form-control-custom input::-webkit-input-placeholder, #guestbookSendMessage .form-content .form-control-custom textarea::-webkit-input-placeholder {
	color: #6a696f;
}
#guestbookSendMessage .form-content .form-control-custom input::-moz-placeholder, #guestbookSendMessage .form-content .form-control-custom textarea::-moz-placeholder {
	color: #6a696f;
}
#guestbookSendMessage .form-content .form-control-custom input:-ms-input-placeholder, #guestbookSendMessage .form-content .form-control-custom textarea:-ms-input-placeholder {
	color: #6a696f;
}
#guestbookSendMessage .form-content .form-control-custom textarea {
	min-height: 103px;
}

.guestbook-messages {
	position: relative;
}
.guestbook-messages .testimonial p {
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.7;
	font-style: normal;
	text-align: left;
}
.guestbook-messages .testimonial blockquote:after {
	bottom: -0.3em;
}
.guestbook-messages .testimonial blockquote p:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 76%;
	border-bottom: 1px solid #fed0d2;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.guestbook-messages .testimonial .testimonial-author p {
	text-align: left;
	padding-left: 60px;
}
.guestbook-messages .owl-carousel .owl-nav {
	position: absolute;
	bottom: 10%;
	right: 15%;
	top: initial;
}
.guestbook-messages .owl-carousel .owl-nav .owl-prev, .guestbook-messages .owl-carousel .owl-nav .owl-next {
	background: #76cbd9 !important;
	border-radius: 100% !important;
	border-color: transparent !important;
	width: 40px;
	height: 40px;
}
.guestbook-messages .owl-carousel .owl-nav .owl-prev:active, .guestbook-messages .owl-carousel .owl-nav .owl-next:active {
	background: #76cbd9 !important;
	border-color: transparent !important;
}
.guestbook-messages .owl-carousel .owl-nav .owl-prev:hover, .guestbook-messages .owl-carousel .owl-nav .owl-next:hover {
	border-color: transparent !important;
}
.guestbook-messages .owl-carousel .owl-nav .owl-prev {
	color: #FFF !important;
}
.guestbook-messages .owl-carousel .owl-nav .owl-prev:before {
	content: "\f104";
	font-size: 2.2rem;
	line-height: 1.4;
}
.guestbook-messages .owl-carousel .owl-nav .owl-next {
	color: #FFF !important;
}
.guestbook-messages .owl-carousel .owl-nav .owl-next:before {
	content: "\f105";
	font-size: 2.2rem;
	line-height: 1.4;
}

.custom-inner-border {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border: 1px solid #fed0d2;
	z-index: 0;
}

.blog-list li {
	list-style: none;
}

.blog-item .blog-item-content {
	display: block;
}
.blog-item .blog-item-content .author {
	width: 100%;
	display: block;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.rsvp.section {
	background: #fbf9f3;
	border: none;
	z-index: 0;
}
.rsvp #rsvpForm input.form-control, .rsvp #rsvpForm select.form-control {
	background: #FFF;
	border-color: #ebe8e0;
	height: 51px;
}

.content-grid .content-grid-item {
	min-height: 160px;
	border: 1px solid #e4e4e4;
	border-left: none;
}
.content-grid .content-grid-item:first-child {
	border-left: 1px solid #e4e4e4;
}
.content-grid .content-grid-item:before, .content-grid .content-grid-item:after {
	content: none;
}

@media (max-width: 991px) {
	.content-grid .content-grid-item:nth-child(4) {
		border-left: 1px solid #e4e4e4;
	}
	.content-grid .content-grid-item:nth-child(4), .content-grid .content-grid-item:nth-child(5), .content-grid .content-grid-item:nth-child(6) {
		border-top: 0;
	}
}
@media (max-width: 767px) {
	.content-grid .content-grid-item {
		border-top: 0;
		border-left: 1px solid #e4e4e4;
	}
	.content-grid .content-grid-item:first-child {
		border-top: 1px solid #e4e4e4;
	}
}
@media (max-width: 767px) {
	.isotope-item {
		text-align: left;
	}
}
