<li class="col-sm-6 col-md-4 isotope-item">
	<div class="portfolio-detail-item">
		<span class="thumb-info-icons position-style-2 text-color-light">
			<span class="thumb-info-icon pictures background-color-primary">
				6
				<i class="fa fa-picture-o"></i>
			</span>
		</span>
		<div class="owl-carousel owl-theme show-nav-hover" data-plugin-options='{"items": 1, "margin": 0, "loop": true, "nav": true, "dots": false, "stagePadding": 0}'>
			<div>
				<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
					<span class="item-image-wrapper">
						<span class="item-image" data-original="img/demos/photography/gallery/family/1-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
						<i class="fa fa-spinner fa-spin fa-fw"></i>
						<span class="sub-item-description">
							<h5 class="font-weight-light">Family Moments</h5>
						</span>
					</span>
				</a>
			</div>
			<div>
				<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
					<span class="item-image-wrapper">
						<span class="item-image" data-original="img/demos/photography/gallery/family/2-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
						<i class="fa fa-spinner fa-spin fa-fw"></i>
						<span class="sub-item-description">
							<h5 class="font-weight-light">Family Moments</h5>
						</span>
					</span>
				</a>
			</div>
			<div>
				<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
					<span class="item-image-wrapper">
						<span class="item-image" data-original="img/demos/photography/gallery/family/3-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
						<i class="fa fa-spinner fa-spin fa-fw"></i>
						<span class="sub-item-description">
							<h5 class="font-weight-light">Family Moments</h5>
						</span>
					</span>
				</a>
			</div>
			<div>
				<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
					<span class="item-image-wrapper">
						<span class="item-image" data-original="img/demos/photography/gallery/family/1-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
						<i class="fa fa-spinner fa-spin fa-fw"></i>
						<span class="sub-item-description">
							<h5 class="font-weight-light">Family Moments</h5>
						</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</li>
<li class="col-sm-6 col-md-4 isotope-item">
	<div class="portfolio-detail-item">
		<span class="thumb-info-icons position-style-2 text-color-light">
			<span class="thumb-info-icon pictures background-color-primary">
				10
				<i class="fa fa-picture-o"></i>
			</span>
		</span>
		<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page data-ajax-on-page>
			<span class="item-image-wrapper">
				<span class="item-image" data-original="img/demos/photography/gallery/lifestyle/1-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
				<i class="fa fa-spinner fa-spin fa-fw"></i>
				<span class="sub-item-description">
					<h5 class="font-weight-light">On the Road</h5>
				</span>
			</span>
		</a>
</div>
</li>
<li class="col-sm-6 col-md-4 isotope-item">
	<div class="portfolio-detail-item">
		<span class="thumb-info-icons position-style-2 text-color-light">
			<span class="thumb-info-icon pictures background-color-primary">
				3
				<i class="fa fa-picture-o"></i>
			</span>
		</span>
		<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
			<span class="item-image-wrapper">
				<span class="item-image" data-original="img/demos/photography/gallery/landscape/1-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
				<i class="fa fa-spinner fa-spin fa-fw"></i>
				<span class="sub-item-description">
					<h5 class="font-weight-light">Boats on River</h5>
				</span>
			</span>
		</a>
</div>
</li>
<li class="col-sm-6 col-md-4 isotope-item">
	<div class="portfolio-detail-item">
		<span class="thumb-info-icons position-style-2 text-color-light">
			<span class="thumb-info-icon pictures background-color-primary">
				5
				<i class="fa fa-picture-o"></i>
			</span>
		</span>
		<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
			<span class="item-image-wrapper">
				<span class="item-image" data-original="img/demos/photography/gallery/travel/1-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
				<i class="fa fa-spinner fa-spin fa-fw"></i>
				<span class="sub-item-description">
					<h5 class="font-weight-light">Incredible Places</h5>
				</span>
			</span>
		</a>
</div>
</li>
<li class="col-sm-6 col-md-4 isotope-item">
	<div class="portfolio-detail-item">
		<span class="thumb-info-icons position-style-2 text-color-light">
			<span class="thumb-info-icon pictures background-color-primary">
				7
				<i class="fa fa-picture-o"></i>
			</span>
		</span>
		<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
			<span class="item-image-wrapper">
				<span class="item-image" data-original="img/demos/photography/gallery/wedding/1-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
				<i class="fa fa-spinner fa-spin fa-fw"></i>
				<span class="sub-item-description">
					<h5 class="font-weight-light">The Wedding</h5>
				</span>
			</span>
		</a>
</div>
</li>
<li class="col-sm-6 col-md-4 isotope-item">
	<div class="portfolio-detail-item">
		<span class="thumb-info-icons position-style-2 text-color-light">
			<span class="thumb-info-icon pictures background-color-primary">
				6
				<i class="fa fa-picture-o"></i>
			</span>
		</span>
		<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
			<span class="item-image-wrapper">
				<span class="item-image" data-original="img/demos/photography/gallery/family/3-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
				<i class="fa fa-spinner fa-spin fa-fw"></i>
				<span class="sub-item-description">
					<h5 class="font-weight-light">New Born</h5>
				</span>
			</span>
		</a>
</div>
</li>
<li class="col-sm-6 col-md-4 isotope-item">
	<div class="portfolio-detail-item">
		<span class="thumb-info-icons position-style-2 text-color-light">
			<span class="thumb-info-icon pictures background-color-primary">
				10
				<i class="fa fa-picture-o"></i>
			</span>
		</span>
		<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
			<span class="item-image-wrapper">
				<span class="item-image" data-original="img/demos/photography/gallery/lifestyle/2-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
				<i class="fa fa-spinner fa-spin fa-fw"></i>
				<span class="sub-item-description">
					<h5 class="font-weight-light">The Cool Style</h5>
				</span>
			</span>
		</a>
</div>
</li>
<li class="col-sm-6 col-md-4 isotope-item">
	<div class="portfolio-detail-item">
		<span class="thumb-info-icons position-style-2 text-color-light">
			<span class="thumb-info-icon pictures background-color-primary">
				3
				<i class="fa fa-picture-o"></i>
			</span>
		</span>
		<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
			<span class="item-image-wrapper">
				<span class="item-image" data-original="img/demos/photography/gallery/landscape/2-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
				<i class="fa fa-spinner fa-spin fa-fw"></i>
				<span class="sub-item-description">
					<h5 class="font-weight-light">Old Venice</h5>
				</span>
			</span>
		</a>
</div>
</li>
<li class="col-sm-6 col-md-4 isotope-item">
	<div class="portfolio-detail-item">
		<span class="thumb-info-icons position-style-2 text-color-light">
			<span class="thumb-info-icon pictures background-color-primary">
				7
				<i class="fa fa-picture-o"></i>
			</span>
		</span>
		<a data-href="ajax/demo-photography-portfolio-ajax-on-page-slider.html" class="open-item" data-ajax-on-page>
			<span class="item-image-wrapper">
				<span class="item-image" data-original="img/demos/photography/gallery/wedding/2-small.jpg" data-plugin-lazyload data-plugin-options='{"appearEffect": "animated fadeIn"}'></span>
				<i class="fa fa-spinner fa-spin fa-fw"></i>
				<span class="sub-item-description">
					<h5 class="font-weight-light">The Day</h5>
				</span>
			</span>
		</a>
</div>
</li>