<li class="col-sm-6 col-md-6 isotope-item item-appended p-none">
	<div class="portfolio-grid-item">
		<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
			<span class="thumb-info">
				<span class="thumb-info-wrapper size-4 m-none">
					<span class="thumb-info-background" data-thumb-src="img/demos/photography/gallery/family/1-thumb.jpg" data-src="img/demos/photography/gallery/family/1.jpg" style="background-image: url('img/demos/photography/gallery/family/1-medium.jpg');"></span>
					<h2 class="thumb-info-title font-weight-bold center">
						Family Moments
						<span class="thumb-info-sub-title font-weight-light">
							Lorem ipsum dolor sit a met
						</span>
					</h2>
				</span>
			</span>
		</a>
	</div>
</li>
<li class="col-sm-6 col-md-6 isotope-item item-appended p-none">
	<div class="portfolio-grid-item">
		<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
			<span class="thumb-info">
				<span class="thumb-info-wrapper size-4 m-none">
					<span class="thumb-info-background" data-thumb-src="img/demos/photography/gallery/family/2-thumb.jpg" data-src="img/demos/photography/gallery/family/2.jpg" style="background-image: url('img/demos/photography/gallery/family/2-medium.jpg');"></span>
					<span class="thumb-info-plus"></span>
				</span>
			</span>
		</a>
	</div>
</li>
<li class="col-sm-6 col-md-6 isotope-item item-appended p-none">
	<div class="portfolio-grid-item">
		<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
			<span class="thumb-info">
				<span class="thumb-info-wrapper size-4 m-none">
					<span class="thumb-info-background" data-thumb-src="img/demos/photography/gallery/landscape/1-thumb.jpg" data-src="img/demos/photography/gallery/landscape/1.jpg" style="background-image: url('img/demos/photography/gallery/landscape/1-medium.jpg');"></span>
					<span class="thumb-info-plus"></span>
				</span>
			</span>
		</a>
	</div>
</li>
<li class="col-sm-6 col-md-6 isotope-item item-appended p-none">
	<div class="portfolio-grid-item">
		<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
			<span class="thumb-info">
				<span class="thumb-info-wrapper size-4 m-none">
					<span class="thumb-info-background" data-thumb-src="img/demos/photography/gallery/landscape/2-thumb.jpg" data-src="img/demos/photography/gallery/landscape/2.jpg" style="background-image: url('img/demos/photography/gallery/landscape/2-medium.jpg');"></span>
					<span class="thumb-info-plus"></span>
				</span>
			</span>
		</a>
	</div>
</li>